# Take SQL dumps
BACKUP_DATABASES=false

# List of directories to exclude
DEFAULT_EXCLUDES="-e /dev -e /proc -e /sys -e /tmp -e /run -e /mnt -e /media -e /var/lib/docker/volumes -e /var/lib/docker/containers -e \"/var/lib/docker/devicemapper*\" -e \"/var/lib/docker/overlay*\" -e \"*/.cache/chromium\" -e \"*/.cache/mozilla/\""
CUSTOM_EXCLUDES=""

# Backups rotation retention
#RETENTION_AMOUNT=30

# Custom retention
RETENTION_STRING="--keep-daily 14 --keep-weekly 12 --keep-monthly 24 --keep-yearly 100"

# Flat direcory backups
#BACKUP_FLAT_DIRECTORIES="/directory codename"

# Backblaze bucket to use
#B2_BUCKET="bucketname"

# Can be uncommented to increase speed
#B2_CONNECTIONS="20"

# Can be uncommented to move the cache directory
#RESTIC_CACHE_DIRECTORY="/var/restic-cache"
